<div class="alert alert-success">
    Viewing Laboratory:  - {{lab.name}}
</div>


<div class="card pull-right">
   <img src="/uploads/{{lab.file}}" width="200" class="thumbnail">
</div>

<table class="table table-striped bordered">
    
    <tr>
    <th>Name</th>
    <td>{{lab.name}}</td>
    </tr>
    
    <tr>
    <th>Tag</th>
    <td>{{lab.tag}}</td>
    </tr>

    <tr>
    <th>Establishment Date</th>
  <td>{{generate_date date 'MMM-Do-Y'}} </td>
    </tr>
    
    <tr>
    <th>Location</th>
    <td>{{lab.location}}</td>
    </tr>

    <tr>
    <th>Intro</th>
    <td>{{lab.intro}}</td>
    </tr>
    
    <tr>
    <th>Content</th>
    <td>{{lab.content}}</td>
    </tr>
    
    <tr>
    <th>Edit</th>
    <td><a href="/admin/labs/edit/{{lab.id}}" class="btn btn-success"><i class="fa fa-pencil"></i> Edit</a></td>
    </tr>
   
    <tr>
    <th>Delete</th>
    <td><a href="/admin/labs/delete/{{lab.id}}" class="btn btn-danger"><i class="fa fa-remove"></i> Delete</td>
    </tr>
    

</table>