<div class="alert alert-success">
    Viewing Appointment by:  - {{appointment.user.name}}
</div>



<table class="table table-striped bordered">
    <tr>
    <th>Name</th>
    <td>{{appointment.user.name}}</td>
    </tr>

    <tr>
    <th>Email</th>
    <td>{{appointment.user.email}}</td>
    </tr>

    <tr>
    <th>Phone</th>
    <td>{{appointment.user.phone}}</td>
    </tr>

    <tr>
    <th>Date</th>
     <td>{{generate_date appointment.date 'MMM-Do-Y'}} </td>
    </tr>

    <tr>
    <th>Department</th>
    <td>{{appointment.department.name}}</td>
    </tr>

    <tr>
    <th>Doctor</th>
    <td>{{appointment.doctor.name}}</td>
    </tr>

    <tr>
    <th>Message</th>
    <td>{{appointment.message}}</td>
    </tr>

    <tr>
    <th>Edit</th>
    <td><a href="/admin/appointment/edit/{{appintment.id}}" class="btn btn-success"><i class="fa fa-pencil"></i> Edit</a></td>
    </tr>
   
    <tr>
    <th>Delete</th>
    <td><a href="/admin/appointment/delete/{{appointment.id}}" class="btn btn-danger"><i class="fa fa-remove"></i> Delete</td>
    </tr>

</table>