
<form action="/user/employee/create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <label for="" class="control-label">Fullname</label>
            <input type="text" class="form-control" name="fullname" required autofocus> 
        </div>

         <div class="col-md-4">
            <label for="" class="control-label">Email</label>
            <input type="text" class="form-control" name="email" required > 
        </div>

         <div class="col-md-4">
           <label for="" class="control-label">Position</label>
            <select name="position" class="form-control" id="" required>
                <option value="Accountant">Accountant</option>
                <option value="Web Developer">Web Developer</option>
                <option value="Secretary">Secretary</option>
                <option value="Security">Security</option>
                <option value="HRM Personnel">HRM Personnel</option>
                <option value="Supervisor">Supervisor</option>
            </select>
        </div>

    </div>
    
     <div class="row">
        <div class="col-md-4">
            <label for="" class="control-label">Role</label>
            <select name="role" class="form-control" id="" required>
                <option value="Subscriber">Subscriber</option>
                <option value="Manager">Manager</option>
            </select>
        </div>

         <div class="col-md-4">
            <label for="" class="control-label">Status</label>
            <select name="status" class="form-control" id="" required>
                <option value="Active">Active</option>
                <option value="Unactive">Unactive</option>

            </select>
        </div>

         <div class="col-md-4">
              <div class="image-preview pull-right" id="imagePreview">
                <img width="100" class="img-thumbnail image-preview__image" src="/uploads/default.png" alt=""> 
                <span class="image-preview__default-text"> </span>
            </div>
           <label for="" class="control-label">Upload Image</label>
            <input type="file" accept="image/*" name="file" id="inpFile" class="form-control" style="display: none;"><br>
            <button type="button" id="upload-btn" class="btn btn-primary">Upload <i class="fa fa-file"></i></button> 
        </div>

       
    </div>

    <div class="row">

        <div class="col-md-4">
            <label for="" class="control-label">Password</label>
            <input type="password" name="password" class="form-control" required id="">
        </div>
      
        <div class="col-md-4">
              {{#if company}}
                <label for="" class="control-label">Company</label>
                <input type="hidden" name="company" value="{{company.id}}">
                <input type="text" readonly value="Company: {{company.name}}" class="form-control">
              {{else}}
                    <label for="" class="control-label">Company</label>
                    <select id="from_place" required class="selectpicker select show-tick" data-width="100%" data-live-search="true" title="Select Company" data-size="4" data-header="Select Company" name="company">
                        {{#each companies}}
                        <option value="{{id}}">{{name}}</option>             
                        {{/each}}
                    </select>
              {{/if}}

        </div>


       

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Employee</button>
    </div>
</form>





<!-- SCRIPTING FOR PREVIEWING IMAGE BEFORE UPLOADING  -->
<script src="/admin/js/jquery.js"></script>
<script>

    const inpFile = document.getElementById('inpFile');
    const previewContainer = document.getElementById('imagePreview');
    const previewImage = document.querySelector('.image-preview__image');
    const previewDefault = document.querySelector('.image-preview__default-text');

    inpFile.addEventListener('change',function(){
        const file = this.files[0];

        if(file){
            const reader = new FileReader();
            previewDefault.style.display = 'none';
            previewImage.style.display = 'block';

            reader.addEventListener('load',function(){
                previewImage.setAttribute('src',this.result);
                previewImage.style.width = '130px';
            });
            reader.readAsDataURL(file)
        }else{
            previewDefault.style.display = 'block';
            previewImage.style.display = 'none';
            previewImage.setAttribute('src',"");
        }
    })

    // triggering input file with a button
    $('#upload-btn').click(function(){
        $('#inpFile').click()
    })
</script>