<form action="/admin/department/multiaction" method="post" id="del_form">

<div class="form-group multi_action col-md-4">
  <div class="row">
    <div class="col-md-6">
        <select name="action" id="" class="form-control">
          <option value="delete">Delete Records</option>
      </select>
    </div>

    <div class="col-md-6">
      <button type="submit" class="btn btn-success multi_action"><i class="fa fa-thumbs-up"></i> Perform Operation</button>
    </div>
  </div>
  
</div>


<table class="table table-striped bordered table-responsive">
    <thead>
       <tr>
            <th><input type="checkbox"  id="checkbox"></th>
           <th>Name</th>
           <th>Font Awesome</th>
           <th>Content</th>
           <th>Actions</th>
       </tr>
    </thead>

    <tbody>
     {{#if services}}
      
        {{#each services}}
                <tr>
                      <td><input type="checkbox" name="checkboxes[]"  value="{{id}}" class="checkboxes"></td>
</form>
                    <td>{{name}}</td>
                    <td><i class="fa fa-{{font}} fa-2x"</td>
                    <td>{{content}}</td>
                    <td><a href="/admin/service/edit/{{id}}" class="btn btn-success"><i class="fa fa-pencil"></i> Edit</a></td>
                    <td><a href="/admin/service/delete/{{id}}" class="btn btn-danger"><i class="fa fa-remove"></i> Delete</a></td>
                </tr>
        {{/each}}

      {{else}}
        <div class="alert alert-success">No Service to display</div>

     {{/if}}      
    </tbody>
</table>







<style>
  .multi_action{
    display: none;
  }
</style>

<script src="/admin/js/jquery.js"></script>
<script src="/home/vendor/sweetalert.min.js"></script>


<script>
  $('#checkbox').click(function(e){

      if(this.checked){
        $('.multi_action').fadeIn('slow')
        $('.checkboxes').each(function(){
           this.checked = true
        })
      }else{
         $('.multi_action').fadeOut('slow')

        $('.checkboxes').each(function(){
            this.checked = false
        })
      }
  })




  $('#del_form').submit(function(e){
    e.preventDefault()
    let data = $(this).serialize()
    let action = $(this).attr('action')
    console.log(data)

    $.ajax({
      url: action,
      data: data,
      type: 'Post',
       cache: false,
      success: function(response){
          if(!response.error){
            $('.multi_action').fadeOut('slow')
            $('.checkboxes').each(function(){
                this.checked = false
            })
            $('#checkbox').checked = false
          
            swal({  //sweetalert.js library
              title:  `Delete Success`,
              text: `Kudos! You've successfully performed operation on marked services. `,
              icon: "success",    
              timer: 5500,
              closeOnClickOutside: false  
            });

          }
      }

    })
  })
</script>
